<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3> Awards <small></small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Awards<small>Displays all the teams that have previously won an award.</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Team Name</th>
                  <th>Competition Period</th>
                  <th>Award Name</th>
                  <th>Award Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger</td>
                  <td>2017</td>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>2017</td>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>2017</td>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>2017</td>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>2017</td>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>2017</td>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>2017</td>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                </tr>
              </tbody>
            </table>

            <button type="button" class="btn btn-primary">Edit</button>

            <button type="button" class="btn btn-primary">Input new award winner</button>

          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Sponsor Awards<small>All the sponsor awards</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Award Name</th>
                  <th>Award Amount</th>
                  <th>Competition Period</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <td>Social Impact Prize</td>
                  <td>$3000</td>
                  <td>2017</td>
                </tr>
              </tbody>
            </table>

            <button type="button" class="btn btn-primary">Edit</button>

            <button type="button" class="btn btn-primary">Create New Prize</button>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Weiss Tech House Awards<small>All the tech awards</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Award Name</th>
                  <th>Award Amount</th>
                  <th>Competition Period</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Grand Prize</td>
                  <td>$5000</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <td>SecondPrize</td>
                  <td>$2500</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <td>Third Prize</td>
                  <td>$1500</td>
                  <td>2017</td>
                </tr>
              </tbody>
            </table>

            <button type="button" class="btn btn-primary">Edit</button>

            <button type="button" class="btn btn-primary">Create New Prize</button>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
