<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PennVention | </title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- Select2 -->
  <link href="/vendors/select2/dist/css/select2.min.css" rel="stylesheet">

  <link href="/stylesheets/studentstyle.css" rel="stylesheet">

  </head>
  <body>
    <header>
      <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
          <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/student"><i><span id="pv-title">PENN</span><span id="pv-title-white">VENTION</span></i></a>
            </div><!-- .navbar-header -->
            <div id="bs-navbar">
              <ul class="nav navbar-nav hidden-sm hidden-xs">
                <li><a href="/student/profile">Profile</a></li>
                <li><a href="/student/team/profile">Team</a></li>
                <li><a href="/student/team/search">View Teams</a></li>
                <li><a href="/student/search">View Students</a></li>
                <li><a href="/student/mentor">Mentors</a></li>
                <li><a href="/logout">Sign Out</a></li>
              </ul>
            </div>
          <!--   <div  class="collapse navbar-collapse navbar-form" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
              </ul>
              <form class="navbar-form navbar-right" action="/signin" method=get>
              <div>
                <li><a href="#login">Login</a></li>
              </div>
              </form>
              <form class="navbar-form navbar-right" action="/register" method=get>
              <div>
                <li><a href="#login">Register</a></li>
              </div>
              </form> -->
              <!-- <form>
                <div class="social">
                  <a href="https://facebook.com/pennvention"><i class="fa fa-facebook fa-lg"></i></a>
                  &nbsp;
                  <a href="https://twitter.com/pennvention"><i class="fa fa-twitter fa-lg"></i></a>
                </div>
                </form> -->
            </div><!-- /.navbar-collapse -->
          </div>
        </div>
      </nav>
    </header>
  <div id="layoutContainer" class="container">
    {{{body}}}
  </div>

  <!-- jQuery -->
  <script src="/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/vendors/nprogress/nprogress.js"></script>
  <!-- Select2 -->
  <script src="/vendors/select2/dist/js/select2.full.min.js"></script>
  <!-- Skycons -->
  <script src="/vendors/skycons/skycons.js"></script>
  <!-- DateJS -->
  <script src="/vendors/DateJS/build/date.js"></script>
  <!-- jQuery Tags Input -->
  <script src="/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
  <!-- Parsley -->
  <script src="/vendors/parsleyjs/dist/parsley.min.js"></script>
  <!-- Autosize -->
  <script src="/vendors/autosize/dist/autosize.min.js"></script>
  <!-- jQuery autocomplete -->
  <script src="/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
  <!-- Datatables -->
  <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/scripts/adminLayoutScript.js"></script>
  <script src="/scripts/studentLayoutScript.js"></script>


</body>
</html>
