<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PennVention | </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/stylesheets/adminCustom.css" rel="stylesheet">


  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          {{#if error}}
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error}}
          </div>
          {{/if}}
          <!-- {{#if loginMessage}}
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{loginMessage}}
          </div>
          {{/if}} -->
          <section class="login_content">
            <form method="post" action="/login" class="loginForm">
              <h1>Login Form</h1>
              <div>
                <input name="loginEmail" type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input name="loginPassword" type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <button class="btn btn-default submit loginButton" type="submit" style="text-shadow: 0 1px 0 #fff;">Log in</button>
                <a class="reset_pass" href="#">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i>
                    <span id="pv-title">PENN</span><span id="pv-title-white">VENTION</span>
                  </i></h1>
                  <p>©2017 All Rights Reserved. <a href="#">Privacy and Terms</a></p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          {{#if registerMessage}}
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{registerMessage}}
          </div>
          {{/if}}
          <section class="login_content">

            <form method="post" action="/register" class=registerForm>
              <h1>Create Account</h1>
              <div>
                <input name="registerEmail" type="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input name="registerPassword" type="password" class="form-control" placeholder="Password" required="" />
              </div>
                <h4>What kind of user are you?</h4>
              <div style="margin-bottom:20px;">
                <select name="registerRole" class="form-control" required="">
                  <option value="">Choose option</option>
                  <option value="student">Student</option>
                  <option value="judge">Judge</option>
                  <option value="mentor">Mentor</option>
                </select>
              </div>
              <div>
                <button class="btn btn-default submit registerButton" type="submit" style="text-shadow: 0 1px 0 #fff;">Submit</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i>
                    <span id="pv-title">PENN</span><span id="pv-title-white">VENTION</span>
                  </i></h1>
                  <p>©2017 All Rights Reserved. <a href="#">Privacy and Terms</a></p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/scripts/loginScript.js"></script>

  </body>
</html>
