<div class="container">
     <div class="row" id="forms">
       <div class="col-md-12">
         <h4>Confirmation Status: {{InProgress}}</h4>
       </div>
       <form>
       <div class="col-md-12">
         <div class="col-sm-8 col-sm-offset-2">
 <!--               first name -->
             <div class="col-sm-3"> <label>First Name: </label></div>

                 <div class="col-sm-9">
                   <span name="firstName" placeholder="First Name" class="spanStyle" contenteditable="true" required>
                   Hamster
                   </span>
                 </div>
                 </div>
                 </div>
       <!--         last name -->
               <div class="col-md-12">
               <div class="col-sm-8 col-sm-offset-2">

                 <div class="col-sm-3"> <label>Last Name: </label> </div>
                 <div class="col-sm-9">
                   <span name="lastName" placeholder="Last Name" class="spanStyle" contenteditable="true" required>
                   Ko
                   </span>
                 </div>
                 </div>
                 </div>
       <!--         Phone Number -->
               <div class="col-md-12">
               <div class="col-sm-8 col-sm-offset-2">

                 <div class="col-sm-3"> <label>Phone Number: </label> </div>
                 <div class="col-sm-9">
                   <span placeholder="(911)-911-9111" class="spanStyle" contenteditable="true" required>
                   2672184444
                   </span>
                 </div>
                 </div>
                 </div>

       <!--         bio -->
               <div class="col-md-12">
               <div class="col-sm-8 col-sm-offset-2">
                 <div class="col-sm-3"> <label>Biography: </label> </div>
                 <div class="col-sm-9">
                   <span name="bio" placeholder="Biography" class="spanStyle" contenteditable="true">My name is Ham and I am a Judge.
                   </span>
                 </div>
                 </div>
                 </div>
                 </form>
     <!--               submit -->
                 <div class="col-sm-12 col-sm-offset-4">
                 <button type="submit" class="btn btn-primary">Save</button>
           </div>
         </div>
   <!--       panel end -->
       </div>
       </div>
   </div>
