<div class="container" id="team">
     <div class="row">
       <div class="col-md-12">
              <div class="page-title">
               <div class="title_left">
                 <h3>Teams <small></small></h3>
               </div>
             </div>

             <div class="clearfix"></div>

        <div class="col-md-5 col-sm-8 col-xs-12 allTeams">
          <div class="x_content">

            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Team Name</th>
                  <th>Team Members</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
                <tr>
                  <td>Tiger</td>
                  <td>Johnny B, Larry W, King Cook, B Lee</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
       <div class="col-md-6 col-sm-8 col-xs-12 teamInfo">
       <h3> Team 1</h3>
       <hr>
       <form>
       <div>
         <h4>Question 1?</h4>
         <select class="mydropdown" placeholder="smitttt">
           <option value="score">1</option>
           <option value="score">2</option>
           <option value="score">3</option>
           <option value="score">4</option>
           <option value="score">5</option>
           <option value="score">6</option>
           <option value="score">7</option>
           <option value="score">8</option>
           <option value="score">9</option>
           <option value="score">10</option>
         </select>
         </div>
          <div>
         <h4>Question 2?</h4>
         <select class="mydropdown" placeholder="smitttt">
           <option value="score">1</option>
           <option value="score">2</option>
           <option value="score">3</option>
           <option value="score">4</option>
           <option value="score">5</option>
           <option value="score">6</option>
           <option value="score">7</option>
           <option value="score">8</option>
           <option value="score">9</option>
           <option value="score">10</option>
         </select>
         </div>
          <div>
         <h4>Question 3?</h4>
         <select class="mydropdown" placeholder="smitttt">
           <option value="score">1</option>
           <option value="score">2</option>
           <option value="score">3</option>
           <option value="score">4</option>
           <option value="score">5</option>
           <option value="score">6</option>
           <option value="score">7</option>
           <option value="score">8</option>
           <option value="score">9</option>
           <option value="score">10</option>
         </select>
         </div>
         <br>
         <div>
         <h4>Comments: </h4>
             <textarea class="form-control" name="bio" rows="6" cols="50" placeholder="Biography"></textarea>
             <br>
         <!--               submit -->
         <div class="text-center">
           <button type="submit" class="btn btn-primary">Save</button>
         </div>
         </div>
     </form>
   </div>
 </div>
