<div class="text-center">
  <h1>Welcome! Please fill out this form before continuing!</h1>
</div>

{{#if error}}
<div class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
{{/if}}

<br>

<form method="post" action="/student/initial" id="profile_edit" data-parsley-validate class="form-horizontal form-label-left">

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">First Name <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="firstName" type="text" required="required" class="form-control col-md-7 col-xs-12">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">Last Name <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="lastName" type="text" required="required" class="form-control col-md-7 col-xs-12">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNumber">Phone Number</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="phoneNumber" class="form-control col-md-7 col-xs-12" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skypeUsername">Skype Username</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="skypeUsername" class="form-control col-md-7 col-xs-12" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="typeOfStudent">Level of Study <span class="required">*</span></label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <select name="typeOfStudent" required="required" class="form-control">
        <option value="">Choose option</option>
        <option value="undergraduatete">Undergraduate</option>
        <option value="graduate">Graduate</option>
        <option value="masters">Masters</option>
        <option value="phd">PhD</option>
        <option value="mba">MBA</option>
        <option value="other">Other</option>`
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="school">School <span class="required">*</span></label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <select name="school" required="required" class="select2_multiple form-control" multiple="multiple">
        <option value="">Choose option</option>
        <option value="seas">SEAS</option>
        <option value="sas">SAS</option>
        <option value="wharton">Wharton</option>
        <option value="med">Med</option>
        <option value="law">Law</option>
        <option value="gse">GSE</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expectedYearOfGraduation">Year of Graduation <span class="required">*</span></label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <select name="expectedYearOfGraduation" required="required" class="form-control">
        <option value="">Choose option</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2021">2021</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="school">Majors</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="major" id="tags_major_1" type="text" class="tags form-control" value="Computer Science, Mechanical Engineering, Nursing" />
      <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
    </div>
  </div>

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <button class="btn btn-primary" type="reset">Reset</button>
      <button type="submit" class="submit btn btn-success">Submit</button>
    </div>
  </div>

</form>
