
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_title">
        <h2>Your Profile<small>Displays user profile information</small></h2>

        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar"> -->
          <!-- <div style="background-color: red; width: 100%; padding-top: 100%;"></div> -->
          <h3>{{student.firstName}} {{student.lastName}}</h3>
          <ul class="list-unstyled user_data">
            <li>
              <i class="fa fa-mobile user-profile-icon"></i> {{student.phoneNumber}}
            </li>

            <li>
              <i class="fa fa-envelope user-profile-icon"></i> email@email.com
            </li>

            <li class="m-top-xs">
              <i class="fa fa-external-link user-profile-icon"></i>
              <a href="http://www.JaneBae.com/profile/" target="_blank">www.TeamSite.com</a>
            </li>
          </ul>

        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
          <h2>Biography</h2>
        </p>
        <p class="text-muted font-13 m-b-30">
          Hi
      </div>

    </div>
  </div>
</div>
</div>
