
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_title">
        <h2>Team Profile<small>Displays the team information</small></h2>

        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar"> -->
          <!-- <div style="background-color: red; width: 100%; padding-top: 100%;"></div> -->
          <div style="background-color: red; width: 100%; padding-top: 100%;"></div>
          <h3>Team Name</h3>
          <ul class="list-unstyled user_data">
            <li>
              <i class="fa fa-mobile user-profile-icon"></i> 555-555-5555
            </li>

            <li>
              <i class="fa fa-envelope user-profile-icon"></i> email@email.com
            </li>

            <li class="m-top-xs">
              <i class="fa fa-external-link user-profile-icon"></i>
              <a href="http://www.JaneBae.com/profile/" target="_blank">www.TeamSite.com</a>
            </li>
          </ul>
          <h4>Team Members</h4>
          <ul class="list-unstyled user_data">
            <li><a href="mentor">Edit Profile</a></li>
            <form>
              <input type="text" name="search" placeholder="Add new member">
            </form>
            <li><a href="teamProfile">Bruce Lee</a></li>
            <li><a href="teamProfile">Chuck Norris</a></li>
            <li><a href="teamProfile">Jesus</a></li>
          </ul>
          <h4>Strengths</h4>
          <ul class="list-inline prod_size">
            <li>
              <button type="button" class="btn btn-default btn-xs">BioTech</button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-xs">Entreprenuership</button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-xs">Software</button>
            </li>
          </ul>
          <h4>Weaknesses</h4>
          <ul class="list-inline prod_size">
            <li>
              <button type="button" class="btn btn-default btn-xs">Finance</button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-xs">Design</button>
            </li>
          </ul>
          <h4>Mentor Expertise Category Request</h4>
          <ul class="list-inline prod_size">
            <li>
              <button type="button" class="btn btn-default btn-xs">Finance</button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-xs">Design</button>
            </li>
          </ul>

        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
          <h4>Competition Status: Stage 1</h4>
        </p>
        <h4>Project Description</h4>
        <p class="text-muted font-13 m-b-30">
          Test
        </p>
        <h5>Deck Link</h5>
        <h5>Video Link</h5>
      </div>

    </div>
  </div>
</div>
</div>
