<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>User Profile<small>Displays the user information</small></h2>
      <ul class="nav navbar-right panel_toolbox" >
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar"> -->
          <!-- <div style="background-color: red; width: 100%; padding-top: 100%;"></div> -->
          <h3>Mark Jobs</h3>
        <ul class="list-unstyled user_data">
          <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
          </li>

          <li>
            <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
          </li>

          <li>
            <i class="fa fa-mobile user-profile-icon"></i> 555-555-5555
          </li>

          <li>
            <i class="fa fa-envelope user-profile-icon"></i> email@email.com
          </li>

          <li>
            <i class="fa fa-skype user-profile-icon"></i> Bob_Jones34
          </li>

          <li class="m-top-xs">
            <i class="fa fa-external-link user-profile-icon"></i>
            <a href="http://www.JaneBae.com/profile/" target="_blank">www.facebook.com</a>
          </li>
        </ul>

      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">
        <h3 align="center">Biography</h3>
        </p>
        <p>
        <p>
          Mark Jobs fue un empresario y magnate de los negocios del sector informático y de la industria del entretenimiento estadounidense. Fue cofundador y presidente ejecutivo de Apple Inc.12 y máximo accionista individual de The Walt Disney Company.13
</p>
<p>
Fundó Apple en 1976 junto con un amigo de la adolescencia, Steve Wozniak, con ayuda del excompañero de Jobs en Atari, Ron Wayne en el garaje de su casa. Aupado por el éxito del Apple II Jobs obtuvo una gran relevancia pública, siendo portada de Time en 1982.14 Contaba 26 años y ya era millonario gracias a la exitosa salida a bolsa de la compañía a finales del año anterior. La década de los 80 supuso la entrada de potentes competidores en el mercado de los ordenadores personales, lo que originó las primeras dificultades empresariales. Su reacción fue innovar, o mejor dicho, implementar: a principios de 1984 su compañía lanzaba el Macintosh 128K, que fue el primer ordenador personal que se comercializó exitosamente que usaba una interfaz gráfica de usuario (GUI) y un ratón en vez de la línea de comandos. Después de tener problemas con la cúpula directiva de la empresa que el mismo fundó, renunció.15 Jobs vendió entonces todas sus acciones, salvo una. Ese mismo año recibía la Medalla Nacional de Tecnología del presidente Ronald Reagan, cerrando con este reconocimiento esta primera etapa como emprendedor. Regresó en 1997 a la compañía, que se encontraba en graves dificultades financieras, y fue su director ejecutivo hasta el 24 de agosto de 2011.16 17 18 19 En ese verano Apple sobrepasó a Exxon como la empresa con mayor capitalización del mundo.20
        </p>
      </p>
      </div>

    </div>

</div>
</div>
